/*  Universal selector - used to target all elements */
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

h1{
	color: yellow !important;
}

h2 {
	color:  blue;
}

#zuit-motto{
	letter-spacing: 5px;
}

.offering-item{
	text-transform: uppercase;
}

#offering-1{
	color: blue;
}

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/* Adjacent Sibling Selector (+) */
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
h3 + p {
	color: blue;
}

#p1 {
	color: red;
}

/*div + p {
	background-color: blue;
}*/
/* General Sibling Selector (~) 
	used to select all elements taht are next siblings of a specified element
*/
/*div ~ p {
	background-color: yellow;
}*/

/* Child selector (>) 
	used to select all elements that are children of a specified element
*/

/*div > p {
	background-color: yellow;
}*/

/* Descendant Selector (whitespace)
	used to match all elements that are descendants of a specified element
*/

div p {
	background-color: yellow;
}

/* Multiple Selector
	used to select multiple elements that is separated by a comma

h3, p, ol, h1{
	property: value;
}
*/